{{- $pages := slice -}}
{{- range .Pages -}}
    {{- $pages = $pages | append (dict "page" . "file_path" .File.Path ) -}}
{{- end -}}
{{- $readingTime := .ReadingTime -}}
{{- range .Pages -}}
    {{- $readingTime = add $readingTime .ReadingTime -}}
{{- end -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{- partial "bootstrap.html" . -}}
</head>
<body>
    {{- partial "navbar.html" . -}}
    {{- partial "breadcrumb.html" . -}}
    <div class="container-fluid">
        <h1>{{- .Title -}}</h1>
        <div class="row">
            <div class="col-12">
            Reading time: 
            {{ if (ge $readingTime 1440) -}}
                {{- div $readingTime 1440 }} days, 
            {{ end -}}
            {{- $readingTime = sub $readingTime (mul (div $readingTime 1440) 1440) -}}
            {{ if (ge ( $readingTime 60) -}}
                {{ div $readingTime 60 }} hours, 
            {{- end -}}
            {{- $readingTime = sub $readingTime (mul (div $readingTime 60) 60) -}}
            {{ $readingTime }} minutes
            </div>
        </div>
        {{- .Content -}}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="sticky-top">
                    <div class="list-group mb-2" id="chapter-list" role="tablist">
                        {{- $counter := 0 -}}
                        {{- range sort $pages "file_path" -}}
                            {{- $counter = add $counter 1 -}}
                            <a class="list-group-item list-group-item-action {{ if (eq $counter 1) -}}active{{- end -}}" id="chapter-{{- $counter -}}-heading" data-bs-toggle="list" href="#chapter-{{- $counter -}}-body" role="tab">{{- $counter -}}. {{ .page.Name -}}</a>
                        {{- end -}}
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="tab-content" id="chapter-content">
                    {{- $counter := 0 -}}
                    {{- range sort $pages "file_path" -}}
                        {{- $counter = add $counter 1 -}}
                        <div class="tab-pane fade {{ if (eq $counter 1) -}}show active{{- end -}}" id="chapter-{{- $counter -}}-body" role="tabpanel" aria-labelledby="chapter-{{- $counter -}}-heading">
                            <h2>{{- .page.Name -}}</h2>
                            <div>{{- .page.Content -}}</div>
                        </div>
                    {{- end -}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>