{{- $letters := split "ABCDEFGHIJKLMNOPQRSTUVWXYZ" "" -}}
{{- $pages := .Pages.ByTitle -}}
{{- $pages_by_letters := dict -}}
{{ range $pages }}
{{- $page := . -}}
{{- $first_letter := upper ( substr $page.Name 0 1 ) -}}
{{- if not (in $letters $first_letter) }}
{{ $first_letter = "#" }}
{{ end }}
{{- $new_list := slice -}}
{{ with index $pages_by_letters $first_letter }}
{{- $new_list = . | append $page -}}
{{ else }}
{{- $new_list = slice $page -}}
{{ end }}
{{- $pages_by_letters = merge $pages_by_letters (dict $first_letter $new_list) -}}
{{ end }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "bootstrap.html" . }}
</head>
<body>
    {{ partial "navbar.html" . }}
    {{ partial "breadcrumb.html" . }}
    <div class="container-fluid">
        <h1>{{ .Title }}</h1>
        {{ .Content }}
    </div>
    <div class="container-fluid">
        <ul>
            {{ range $key, $items := $pages_by_letters }}
            <li>{{ $key }}<sup>{{ len $items }}</sup>
                <ul class="list-group list-group-flush">
                    {{- range $items -}}
                    <li class="list-group-item">
                        <a href="{{ .RelPermalink }}">{{ .Name }}</a>
                    </li>
                    {{- end -}}
                </ul>
            </li>
            {{ end }}
        </ul>
    </div>
</body>
</html>