<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
            {{ range .Site.Sections }}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ .Title }}
                </a>
                <ul class="dropdown-menu" data-bs-popper="static" aria-labelledby="navbarDropdown">
                    {{ range .Sections }}
                    <li>
                        <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                    {{ range .Pages }}
                    <li>
                        <a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>